*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

table, th, td {            
border: 1px solid rgb(149, 37, 37);
border-collapse: collapse;
margin: 1px;
padding: 10px;
font-size: 24px;
}
div {
    font-size: x-large;
}
div input{
    font-size: 1.2rem;
}

div input {   
    border: none;
    /* border-bottom: 0.1rem solid#000; */
}

div #name, #address, #telphone {   
    /* border: none; */
    border-bottom: 0.1rem solid#000;
}

button
div button{   
    border: none;
    border-bottom: 0.1rem solid#952020;
}


.card {
    border: 2px solid #ccc;
    border-radius: 18px;
    padding: 12px;
    margin: 10px;
    width: 450px;
    display: inline-flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */

}

.content {
    position:absolute;
    border:1px solid #ccc;
}
.icon-container {
    border: 1px solid #ccc;
    position:relative;
    padding:0;
    /* padding-left: 320px; */
    align-content: Top;
    /* flex-direction: column;      */
    
}

.plus-icon {
    width: 20px; /* 設定圖標的寬度 */
    height: 20px; /* 設定圖標的高度 */
    /* 其他樣式屬性... */
}

